<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="loginTest">
    <classes>
      <class name="swayam.testcases.StandaloneTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="LoginPageErrorValidation">
    <classes>
      <class name="swayam.testcases.loginPageErrorMessageValidationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
